body{
	background-image: url("../img/background.png");
	background-position:center;
	background-size:cover;
}
#derecha{
	z-index:1;
	position:fixed;right:0px;
	display: inline-block;
	width:40%; 
	height:100%;
}
#izquierda{
	position:fixed;left:0px;
	display: inline-block; 
	width: 30%;
	height: 100%;
	float:left;

}
#botones{
	position:absolute;
	height:45%;
	width:100%;
	top:5px;
	right:5px;
}
#play{
	display: none;
	float: right;
	height:30%;
	margin: 5px;
	cursor: pointer;
}
#pause{	
	display:inline-block;
	float: right;
	height:30%;
	margin: 5px;
	cursor: pointer;
}
#info{	
	display: inline-block;
	float: right;
	height:30%;
	margin: 5px;
	cursor: pointer;
}
#ajustes{	
	display: inline-block;
	float: right;
	height:30%;
	margin: 5px;
	cursor: pointer;
	margin-bottom:12px;	
}
#divluna{
	z-index:-1;
	height:20%;
	width:80%;
	text-align:center;
	position:fixed;
	bottom:0px;
	left:10%;
}
#luna{
	height: 100%;
	max-width:575px;
}
#divReiniciar{
	position:absolute;
	height:24%;
	width:75%;
	top:46%;
	right:5px;
}
#reiniciar{
	cursor: pointer;
	height:80%;
	float: right;
	margin-right: 20px;
}
#divMotor{
	position:absolute;
	height:25%;
	width:80%;
	top:70%;
	right:5px;
}
#motor{
	cursor: pointer;
	height:90%;
	float: right;
	margin-right: 20px;
}
#nave{
	z-index:1;
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:23%;
}	
#nave img{
	height:80%;
	}
#fuego{
	z-index:1;
	text-align:center;
	position:fixed;
	top:22%;
	width:100%;
	height:23%;
}	
#fuego img{
	height:55%;
}
#divFuel{
	position:absolute;
	height:33.33%;
	width:100%;
	top:0px;
	left:0px;
}
#divAltura{
	background-image: url("../img/altura.png");
	background-position:40%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	position:absolute;
	height:30%;
	width:80%;
	top: 33%;
}
#altura{
	height:30%;
	width:50%;
	position:absolute;
	top:10%;
	left:52%;
}
#indicador{
	height:100%;
	float:left;
}
#divVelocidad{
	background-image: url("../img/speedometerbase.png");
	background-position:center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	position:absolute;
	min-width:180px;
	max-height:190px;
	height:20%;
	width:60%;
	bottom:10%;
	left:5%;
}
#aguja{
	height:30%;
	width:15%;
	position:absolute;
	top:40%;
	left:42%;
}
#fuel{
	z-index:1;
	background-color:#ff0101;
	display:inline-block;
	position: absolute;
	top:5%;
	left:20%;
        height:20%;
        width:20%;
        min-width: 120px;
 	border-style: outset;
	border-color: black;
	text-align:center;
	font-size:30px;
}
#barra{
	width:100%;	
	height:40%;	
	background-color:#821a1a;
}

#dropdown{display:none;}

#contenedorMenus{
	display:inline-block;
	position:fixed;
	width:100%;
	height:100%;
	z-index:2;
}
#menu{
	display:inline-block;
	position: absolute;
	top:20%;
	left:30%;
	width:40%;
	text-align: center;
	background-color: #d4a7cc;
	border-style:outset; 
	font-size:24px;
}
.cerrar{
	position:absolute;
	bottom:3%;
	right:3%;
	width:60px;
	cursor:pointer;
}
#dificultad{
	padding: 15px 32px;
	font-size:20px;
	text-align:center;
	cursor:pointer;
}
#informacion{display:none;}

#info:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
#info:hover {transform: scale(1.2);}
#play:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
#play:hover {transform: scale(1.2);}
#pause:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
#pause:hover {transform: scale(1.2);}
#ajustes:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
#ajustes:hover {transform: scale(1.2);}
#reiniciar:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
#reiniciar:hover {transform: scale(1.2);}
#motor:active {transform: scale(1.2)}
.cerrar:active {border-style: inset; border-color:purple; background-color:#9C27B0;}
.cerrar:hover {transform: scale(1.2);}
